<div *ngIf="(reviews$ | async) as reviews; else review_not_found">
  <div id="top-buttons-reviews">
    <div class="top-button">
      <a href="./vendors/{{id}}"> <button id="back-button" mat-button>Go back to vendor <mat-icon>arrow_left_alt</mat-icon> </button></a>
    </div>
    <div class="top-button">
      <button id="addReview" mat-raised-button (click)="openReviewForm()">
        <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
        Add Review
      </button>
    </div>
  </div>

  <mat-card class="planned-event-card" *ngFor="let review of reviews">
    <mat-card-header>
      <div class="element" style="flex: 1">
        <mat-card-title>Review id: {{review.id}}</mat-card-title>
        <mat-card-subtitle>With rating: {{review.rating}}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Comment:</strong> {{review.comment}}</p>
      <p><strong>Photo link:</strong> {{review.photo_link}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div id="modify">
        <button mat-button id="edit" (click)="editButton(review)">Edit</button>
        <button mat-button id="delete" (click)="deleteButton(review.id)">Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #review_not_found>
  <p id="not-found">Review with such an id is not found</p>
</ng-template>
