<div *ngIf="(tasks$ | async) as tasks; else task_not_found">
  <span>
    <a href="./events" data-inline="true"> <button mat-button>Go back to events <mat-icon>arrow_left_alt</mat-icon> </button></a>
    <button id="addTask" mat-raised-button (click)="openTaskForm()">
      <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
      Add Task
    </button>
  </span>

  <mat-card class="planned-event-card" *ngFor="let task of tasks">
    <mat-card-header>
      <div class="element" style="flex: 1">
        <mat-card-title>{{task.name}}</mat-card-title>
        <mat-card-subtitle> The task id is: {{task.id}}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Description:</strong> {{task.description}}</p>
      <p><strong>Task progress:</strong> {{task.task_progress}}</p>
      <p><strong>Due date:</strong> {{task.due_date}}</p>
      <p><strong>Last notified:</strong> {{task.last_notified}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div id="view">
        <a href="./task_notific/{{task.id}}"> <button mat-button>View Vendor</button></a>
      </div>
      <div id="modify">
        <button mat-button id="edit" (click)="editButton(task)">Edit</button>
        <button mat-button id="delete" (click)="deleteButton(task.id)">Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #task_not_found>
  <p id="not-found">Event with such an id is not found</p>
</ng-template>





  <!--<div *ngIf="(tasks$ | async) as tasks">-->
<!--  <app-task-cards [tasks]="tasks"></app-task-cards>-->
<!--</div>-->
