<h1>Web Push Notifications 📣</h1>
<!--<b>-->
<!--  You have blocked notifications. You need to manually enable them-->
<!--  in your browser.-->
<!--  </b>-->
<!--<mat-button-toggle (click)="subscribe()"> Subscribe </mat-button-toggle>-->
<p>Hooray! You are subscribed to receive notifications 🙌</p>
<!--<mat-button-toggle (click)="unsubscribe()">Unsubscribe</mat-button-toggle>-->
<!--<mat-button-toggle (click)="getA()">A button</mat-button-toggle>-->

<!--${this.denied-->
<!--? html`-->
<!--<b>-->
<!--You have blocked notifications. You need to manually enable them-->
<!--in your browser.-->
<!--</b>-->
<!--`-->
<!--: ""} ${this.subscribed-->
<!--? html`-->
<!--<p>Hooray! You are subscribed to receive notifications 🙌</p>-->
<!--<vaadin-button theme="error" @click=${this.unsubscribe}-->
<!--&gt;Unsubscribe-->
<!--</vaadin-button-->
<!--&gt;-->
<!--`-->
<!--: html`-->
<!--<p>You are not yet subscribed to receive notifications.</p>-->

<!--<vaadin-button theme="primary" @click=${this.subscribe}-->
<!--&gt;Subscribe-->
<!--</vaadin-button-->
<!--&gt;-->
<!--`}-->
