<!--<h1>Web Push Notifications 📣</h1>-->
<!--&lt;!&ndash;<b>&ndash;&gt;-->
<!--&lt;!&ndash;  You have blocked notifications. You need to manually enable them&ndash;&gt;-->
<!--&lt;!&ndash;  in your browser.&ndash;&gt;-->
<!--&lt;!&ndash;  </b>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-button-toggle (click)="subscribe()"> Subscribe </mat-button-toggle>&ndash;&gt;-->
<!--<p>Hooray! You are subscribed to receive notifications 🙌</p>-->
<!--&lt;!&ndash;<mat-button-toggle (click)="unsubscribe()">Unsubscribe</mat-button-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-button-toggle (click)="getA()">A button</mat-button-toggle>&ndash;&gt;-->

<!--&lt;!&ndash;${this.denied&ndash;&gt;-->
<!--&lt;!&ndash;? html`&ndash;&gt;-->
<!--&lt;!&ndash;<b>&ndash;&gt;-->
<!--&lt;!&ndash;You have blocked notifications. You need to manually enable them&ndash;&gt;-->
<!--&lt;!&ndash;in your browser.&ndash;&gt;-->
<!--&lt;!&ndash;</b>&ndash;&gt;-->
<!--&lt;!&ndash;`&ndash;&gt;-->
<!--&lt;!&ndash;: ""} ${this.subscribed&ndash;&gt;-->
<!--&lt;!&ndash;? html`&ndash;&gt;-->
<!--&lt;!&ndash;<p>Hooray! You are subscribed to receive notifications 🙌</p>&ndash;&gt;-->
<!--&lt;!&ndash;<vaadin-button theme="error" @click=${this.unsubscribe}&ndash;&gt;-->
<!--&lt;!&ndash;&gt;Unsubscribe&ndash;&gt;-->
<!--&lt;!&ndash;</vaadin-button&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;`&ndash;&gt;-->
<!--&lt;!&ndash;: html`&ndash;&gt;-->
<!--&lt;!&ndash;<p>You are not yet subscribed to receive notifications.</p>&ndash;&gt;-->

<!--&lt;!&ndash;<vaadin-button theme="primary" @click=${this.subscribe}&ndash;&gt;-->
<!--&lt;!&ndash;&gt;Subscribe&ndash;&gt;-->
<!--&lt;!&ndash;</vaadin-button&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;`}&ndash;&gt;-->
