<div class="wrapper">
  <h2 id="title">Hello to EventCrafter!</h2>
  <h3 id="subtitle">Web-based platform for event management and collaboration tool</h3>
  <div id="image">
    <a
      target="_blank"
      href="https://static.vecteezy.com/system/resources/previews/016/475/455/original/transparent-of-two-hot-air-balloons-png.png">
      <img
        src="https://static.vecteezy.com/system/resources/previews/016/475/455/original/transparent-of-two-hot-air-balloons-png.png"
        alt="Hot-Air Balloon">
    </a>
  </div>
</div>
