#title {
  margin-top: 46px;
  font-size: 390%;
  color: #549b9b;
  font-family: "Dosis ExtraBold", serif;
  text-shadow:  1px 4px 10px #88888890;
  text-align: center;
}

#subtitle {
  font-family: "Dosis ExtraBold", serif;
  text-shadow:  1px 4px 10px #88888890;
  text-align: center;
}

#image {
  text-align: center;
}

#image a {
  cursor: default;
}

#image img{
  width: 820px;
}
