<div id="wrapper">
  <h2>Edit Budget</h2>
  <form [formGroup]="budgetForm">
    <mat-form-field>
      <input matInput placeholder="Description *" formControlName="description">
      <mat-error *ngIf="budgetForm.controls['description'].invalid && budgetForm.controls['description'].touched">
        Description is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Amount *" formControlName="amount" type="number">
      <mat-error *ngIf="budgetForm.controls['amount'].invalid && budgetForm.controls['amount'].touched">
        Amount is required
      </mat-error>
    </mat-form-field>
    <div id="button-wrapper">
      <div class="button-group">
        <button mat-raised-button color="primary" (click)="editBudget()">Edit</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
