<body>
<div>
  <mat-toolbar class="top-nav-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Account circle">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</div>

<!--<img class="image" src="assets/Event.jpg">-->
<h2 class="text-center">Hello to event collaboration and planning tool</h2>

<!--<mat-card class="card">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>Actions Buttons</mat-card-title>-->
<!--    <mat-card-subtitle>Start</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-actions>-->
<!--    <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
<!--</body>-->

