<div class="wrapper-logged-in">
  <nav>
    <div class="left-menu">
      <ul>
        <li><a href="./home">Profile</a></li>
        <li><a href="./events">Events</a></li>
<!--        <li><a href="./budgets">Budgets</a></li>-->
<!--        <li><a href="./tasks">Tasks</a></li>-->
<!--        <li><a href="./guests">Guests</a></li>-->
<!--        <li><a href="./contracts">Contracts</a></li>-->
      </ul>
    </div>
    <div class="right-menu">
      <ul>
        <li><a href="./home" (click)="exit()">Exit</a></li>
      </ul>
    </div>

    <!--    <ul>-->
    <!--      <li><a href="./home">Home</a></li>-->
    <!--      <li><a href="./login">Login</a></li>-->
    <!--      <li><a href="./register">Register</a></li>-->
    <!--    </ul>-->
  </nav>
</div>
