<mat-card class="planned-event-card" *ngFor="let participant of participants">
  <mat-card-header>
    <div class="element" style="flex: 1">
      <mat-card-title>{{participant.associated_event.name}}</mat-card-title>
      <mat-card-subtitle>&nbsp;{{participant.associated_event.id}}</mat-card-subtitle>
      <mat-card-subtitle id="role">{{participant.user_role}}</mat-card-subtitle>
      <div id="audit-participant">
        <p *ngIf="participant.updated_by"><strong>Updated by:</strong> {{participant.updated_by}}</p>
        <p *ngIf="participant.last_updated_time"><strong>Last updated time:</strong> {{participant.last_updated_time}}</p>
      </div>
    </div>
    <div class="element">
      <a [href]="participant.associated_event.picture_link" target="_blank">
        <img *ngIf="participant.associated_event.picture_link" mat-card-xl-image [src]="participant.associated_event.picture_link" >
      </a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Date:</strong> {{participant.associated_event.date}}</p>
    <p><strong>Location:</strong> {{participant.associated_event.location}}</p>
    <p><strong>Description:</strong> {{participant.associated_event.description}}</p>
    <div id="audit-event">
      <p *ngIf="participant.associated_event.created_by"><strong>Created by:</strong> {{participant.associated_event.created_by}}</p>
      <p *ngIf="participant.associated_event.creation_time"><strong>Creation time:</strong> {{participant.associated_event.creation_time}}</p>
      <p *ngIf="participant.associated_event.updated_by"><strong>Updated by:</strong> {{participant.associated_event.updated_by}}</p>
      <p *ngIf="participant.associated_event.last_updated_time"><strong>Last updated time:</strong> {{participant.associated_event.last_updated_time}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div id="view" *ngIf="participant.user_role !== 'GUEST' && participant.user_role !== 'Guest'">
      <a href="./tasks/{{participant.associated_event.id}}"> <button mat-button>View Tasks</button></a>
      <a href="./guests/{{participant.associated_event.id}}"> <button mat-button>View Guests</button></a>
      <a href="./budgets/{{participant.associated_event.id}}"> <button mat-button>View Budgets</button></a>
      <a href="./contracts/{{participant.associated_event.id}}"> <button mat-button>View Contracts</button></a>
    </div>
    <div id="modify">
      <button mat-button id="add-participant" (click)="addParticipantButton(participant)"
              *ngIf="participant.user_role !== 'GUEST' && participant.user_role !== 'Guest'">Add Participant</button>
      <button mat-button id="edit-role" (click)="editUserRoleButton(participant)"
              *ngIf="participant.user_role !== 'CREATOR' && participant.user_role !== 'GUEST' && participant.user_role !== 'Guest'">Edit Role</button>
      <button mat-button id="edit-event" (click)="editEventButton(participant.associated_event)"
              *ngIf="participant.user_role !== 'GUEST' && participant.user_role !== 'Guest'">Edit Event</button>
      <button mat-button id="delete" (click)="deleteButton(participant.associated_event.id)"
              *ngIf="participant.user_role === 'CREATOR'">Delete</button>
      <button mat-button id="delete" (click)="removeButton(participant.id)"
              *ngIf="participant.user_role !== 'CREATOR'">Remove</button>
    </div>
  </mat-card-actions>
</mat-card>
